@if (Mot != null)
{
    <MudExpansionPanel HideIcon="true" Disabled="@(!Mot.Defects.Any())" ExpandedChanged="@OnExpandedAsync">
        <TitleContent>
            <div class="d-flex align-center">
                <MudIcon Icon="@(Mot.Passed? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Cancel)"
                         Color="@(Mot.Passed? Color.Success: Color.Error)"
                         Title="@(Mot.Passed? "Passed": "Failed")"
                         Size="@_iconSize" Class="mr-2" />
                <MudText Class="mt-2">
                    @Mot.CompletedDate.ToString("d MMMM yyyy") | @(Mot.OdometerValue == -1 ? "N/A" : $"{Mot.OdometerValue:N0} {Mot.OdometerUnit}")
                </MudText>
                <div class="d-flex align-items-center ml-auto">
                    @if (DangerousDefects.Any())
                    {
                        <MudBadge Content="@DangerousDefects.Count()" Overlap="true" Class="ml-2" Color="Color.Tertiary" Bordered="true">
                            <MudIcon Icon="@Icons.Material.Outlined.Dangerous" Color="Color.Error" Size="@_iconSize" Title="Dangerous Defects" />
                        </MudBadge>
                    }

                    @if (MajorDefects.Any())
                    {
                        <MudBadge Content="@MajorDefects.Count()" Overlap="true" Class="ml-2" Color="Color.Tertiary" Bordered="true">
                            <MudIcon Icon="@Icons.Material.Outlined.WarningAmber" Color="Color.Warning" Size="@_iconSize" Title="Major Defects" />
                        </MudBadge>
                    }

                    @if (OtherDefects.Any())
                    {
                        <MudBadge Content="@OtherDefects.Count()" Overlap="true" Class="ml-2" Color="Color.Tertiary" Bordered="true">
                            <MudIcon Icon="@Icons.Material.Outlined.Info" Color="Color.Primary" Size="@_iconSize" Title="Advisories" />
                        </MudBadge>
                    }
                </div>
            </div>
        </TitleContent>
        <ChildContent>
            <MudText Typo="Typo.h5">AI Summary</MudText>
            @if (_isSearchingMotSummary)
            {
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
                <MudSkeleton />
            }
            else
            {
                @if (AiMotSummaryHtml != null)
                {
                    <div class="ai-html">
                        @(AiMotSummaryHtml)
                    </div>
                }
                else
                {
                    <div class="d-flex align-center">
                        <MudText>@_aiFailedMessage</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" OnClick="@(() => StartSummaryLookupAsync())" Class="ml-2" />
                    </div>
                }
            }
            @if (DangerousDefects.Any())
            {
                <div class="d-flex align-center mt-4">
                    <MudIcon Icon="@Icons.Material.Outlined.Dangerous" Color="Color.Error" />
                    <MudText Class="ml-2" Typo="Typo.h6">Dangerous Defects</MudText>
                </div>

                @foreach (var defect in DangerousDefects)
                {
                    <MudCheckBox Class="ml-4"
                                 Size="Size.Small"
                                 Dense="true"
                                 T="bool"
                                 @bind-Value:get="IsDefectSelected(defect)"
                                 @bind-Value:set="@(value => OnDefectSelected(defect, value))"
                                 Label="@defect.Description"
                                 Color="Color.Error"></MudCheckBox>
                }
            }
            @if (MajorDefects.Any())
            {
                <div class="d-flex align-center mt-4">
                    <MudIcon Icon="@Icons.Material.Outlined.WarningAmber" Color="Color.Warning" />
                    <MudText Class="ml-2" Typo="Typo.h6">Major Defects</MudText>
                </div>

                @foreach (var defect in MajorDefects)
                {
                    <MudCheckBox Class="ml-4"
                                 CheckedCh
                                 Size="Size.Small"
                                 Dense="true"
                                 T="bool"
                                 @bind-Value:get="IsDefectSelected(defect)"
                                 @bind-Value:set="@(value => OnDefectSelected(defect, value))"
                                 Label="@defect.Description"
                                 Color="Color.Warning"></MudCheckBox>
                }
            }
            @if (OtherDefects.Any())
            {
                <div class="d-flex align-center mt-4">
                    <MudIcon Icon="@Icons.Material.Outlined.Info" Color="Color.Primary" />
                    <MudText Class="ml-2" Typo="Typo.h6">Advisories</MudText>
                </div>

                @foreach (var defect in OtherDefects)
                {
                    <MudCheckBox Class="ml-4"
                                 Size="Size.Small"
                                 Dense="true"
                                 T="bool"
                                 @bind-Value:get="IsDefectSelected(defect)"
                                 @bind-Value:set="@(value => OnDefectSelected(defect, value))"
                                 Label="@defect.Description"
                                 Color="Color.Primary"></MudCheckBox>
                }
            }
            <MudButton Class="mt-4"
                       Variant="Variant.Outlined"
                       StartIcon="@Icons.Material.Filled.CurrencyPound"
                       Color="Color.Primary"
                       Disabled="@PriceEstimateDisabled"
                       OnClick="StartPriceEstimateLookupAsync">
                Price Estimate
            </MudButton>
            @if (_hasSearchedPriceEstimate)
            {
                if (_isSearchingPriceEstimate)
                {
                    <MudSkeleton />
                    <MudSkeleton />
                    <MudSkeleton />
                    <MudSkeleton />
                    <MudSkeleton />
                    <MudSkeleton />
                }
                else if (AiPriceEstimateHtml != null)
                {
                    <div class="ai-html mt-4">
                        @(AiPriceEstimateHtml)
                    </div>
                }
                else
                {
                    <div class="d-flex align-center mt-4">
                        <MudText>@_aiFailedMessage</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Primary" OnClick="@(() => StartPriceEstimateLookupAsync())" Class="ml-2" />
                    </div>
                }
            }
        </ChildContent>
    </MudExpansionPanel>
}
